# 虚拟环境
venv/
env/
.venv/

# Python相关
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git_keep

# 测试相关
.pytest_cache/
.coverage
pytest_cache/

# IDE相关
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# 本地数据
data/
browser_data/
model_*_model/
*.model

# 日志文件
*.log

# 环境变量文件
.env

# AI模型文件
AI/audio_video/models/
*.bin
*.onnx
*.pt
*.pth
*.h5
*.ckpt
*.safetensors
*.gguf
*.mlmodel
*.tflite
faster_whisper_model.zip
models.zip

# 其他大文件
*.zip
*.tar.gz
*.rar
*.7z
*.tar

ffmpeg-7.0.2-essentials_build
